body {
  height: 100%;
}
div.container-fluid {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #E8E8E8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* header elements---------------------------*/

img.AF-insignia {
  margin-left: 32px;
  margin-top: 42px;
  padding-right: 16px;
}

div.left-side-content {
  height: 142px;
  background-color: #333A56;
  float: left;
}

h1.head {
  font-family:'Montserrat', sans-serif;
  letter-spacing: .5px;
  color: whitesmoke;
  font-size: 34px;
  font-weight: 500;
  margin-top: 64px;
  margin-bottom: 0px;
}

h2.head {
  font-family:'Montserrat', sans-serif;
  letter-spacing: 1px;
  color: whitesmoke;
  font-size: 14px;
  font-weight: 300;
}

.recruitment {
  font-family:'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 1.5px;
  font-size: 12px;
  float: right;
  margin-right: 32px;
  margin-top: 96px;
  padding: 3px 10px;
  color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 8px;
}

/*-------------------------------------------*/

/* navigation elements-----------------------*/

div.nav {
  padding-left: 32px;
  padding-top: 12px;
  height: 64px;
}

a.nav-item {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: .5px;
  color: black;
  padding-right: 16px;
}

a.nav-item:hover {
  text-decoration: none;
  color: black;
}

/*-------------------------------------------*/

/* body elements-----------------------------*/
body.page-content {
  padding: 0px 32px;
}

div.gallery {
  margin-bottom: 32px;
}

h1.article-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: .5px;
  margin-bottom: 8px;
}

p.article-body {
  font-family:'Merriweather', serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 22px;
  margin-bottom: 32px;
}

/*-------------------------------------------*/

/* calendar----------------------------------*/

div.calendar {
  background-color: #52658F;
  padding-top: 64px;
  height: 100%;
}

div.calendar-content {
  height:100%;
}

/*-------------------------------------------*/

/* apply for canvases narrower than 1200px---*/
@media only screen and (max-width: 1199px) {


}

/*-------------------------------------------*/

/* apply for canvases narrower than 768px---*/
@media only screen and (max-width: 767px) {

  div.calendar {
    display: none;
  }

}

/*-------------------------------------------*/

/* iPhone, Android devices-------------------*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

}

/*-------------------------------------------*/