.Login {
  font-family:'Montserrat', sans-serif;
  font-size: 16px;
  font-size: .8em;
  letter-spacing: .09em;
}

.password, .username {
  font-weight: 500;
  margin: 0;
  padding: 0;
}

input[id=username], input[id=password] {
  font-weight: 300;
  width: 100%;
  padding: .75em 1em;
  display: inline-block;
  margin: .25em 0 2em;
  border: 1px solid var(--border-color);
  box-sizing: border-box;
}

.submit {
  background-color: var(--secondary-color);
  color: var(--text-light);
  padding: 14px 20px;
  margin: 0 0 .75em 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border: 1px solid var(--secondary-color);
  border-radius: .25em;
}

.submit:hover {
  opacity: 0.8;
}

.password-retrieve {
  letter-spacing: .09em;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  color: var(--secondary-color);
  cursor: pointer;
}
