/* grid elements-----------------------------*/
 
.row-middle {
  align-items: center;
}
  
.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 2em .5em 0;
}
  
.col-start {
  justify-content: flex-start;
  text-align: left;
}
  
.col-center {
  justify-content: center;
  text-align: center;
}
  
.col-end {
  justify-content: flex-end;
  text-align: right;
}
  
/*-------------------------------------------*/  
  
/* header elements---------------------------*/ 
  
.header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
  border-bottom: 1px solid var(--text-color);
  }
  
.header .icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--main-color);
}
  
.header .icon:first-of-type {
  margin-left: 1em;
}
  
.header .icon:last-of-type {
  margin-right: 1em;
}

.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}


/*-------------------------------------------*/ 

/* body elements-----------------------------*/

.body .cell {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  padding-top: calc(100%/7); /* 1:1 cell ratio */
  transition: 0.25s ease-out;
  border-right: 1px solid var(--bg-color-med);
}
  
.body .cell:hover {
  background: var(--bg-color-light);
  transition: 0.5s ease-out;
}

.body .selected {
  display: block;
  background-color: var(--main-color);
  color: var(--bg-color-dark);
}
  
.body .row {
  border-bottom: 1px solid var(--bg-color-med);
}
  
.body .row:last-child {
  border-bottom: none;
}
  
.body .cell:last-child {
  border-right: none;
}
  
.body .cell .number {
  position: absolute;
  font-size: .75em;
  line-height: 1;
  font-weight: 700;
  top: .5em;
  right: .5em;
}
  
.body .disabled {
  color: var(--bg-color-dark);
  pointer-events: none;
}
  
.body .col {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}

/*-------------------------------------------*/ 

/* days elements-----------------------------*/ 
  
.calendar .days {
  text-transform: uppercase;
  font-weight: 500;
  font-size: .75em;
  color: var(--text-color);
  padding-bottom: 1em;
  border-bottom: 1px solid var(--bg-color-med);
}
  
/*-------------------------------------------*/

/* apply for canvases narrower than 1200px---*/
@media only screen and (max-width: 1199px) {


}

/*-------------------------------------------*/

/* apply for canvases narrower than 768px---*/
@media only screen and (max-width: 767px) {

}

/*-------------------------------------------*/

/* iPhone, Android devices-------------------*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

}

/*-------------------------------------------*/
