/* grid elements-----------------------------*/
 
.row-middle {
  align-items: center;
}
  
.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}
  
.col-start {
  justify-content: flex-start;
  text-align: left;
}
  
.col-center {
  justify-content: center;
  text-align: center;
}
  
.col-end {
  justify-content: flex-end;
  text-align: right;
}
  
/*-------------------------------------------*/  
  
/* header elements---------------------------*/ 
  
.header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
  }
  
.header .icon:hover {
  transform: scale(1.75);
  transition: .25s ease-out;
  color: var(--secondary-color-500);
}

.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';

  cursor: pointer;
}


/*-------------------------------------------*/ 

/* body elements-----------------------------*/

.body .cell {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  padding-top: calc(72%/7); /* 1:1 cell ratio */
  transition: 0.25s ease-out;
  border-radius: 50%;
}
  
.body .cell:hover {
  background: var(--gray-300);
  transition: 0.5s ease-out;
}

.body .selected {
  background-color: var(--secondary-color-500);
  color: var(--text-light);
}
  
.body .cell .number {
  position: absolute;
  font-size: .75em;
  line-height: 1;
  font-weight: 700;
  top: 50%;
  left:50%;
  /* translate value for transform is based off the size of the element to position div exactly center */
  transform: translate(-50%, -50%);
}
  
.body .disabled {
  color: var(--gray-400);
  pointer-events: none;
}
  
.body .col {
  margin: 2%;
  flex-grow: 0;
  flex-basis: calc(72%/7);
  width: calc(100%/7);
}

/*-------------------------------------------*/ 

/* days elements-----------------------------*/ 
  
.calendar .days {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: .75em;
  color: var(--text-dark);
  padding: 2em 0 1em;
  border-bottom: 1px solid var(--gray-500);
}
  
/*-------------------------------------------*/

/* events elements---------------------------*/ 
  
.events {
  padding: 2em 1em 2em;
  border-top: 1px solid var(--gray-500);
  font-family:'Montserrat', sans-serif;
  margin-bottom: 2em;
  line-height: 1em;
}

.event-name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25em;
}

.event-descript {
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 1em;
}

.event-time {
  font-size: .75em;
  font-weight: 300;
  line-height: .5em;
}

.event-loc {
  font-size: .75em;
  font-weight: 300;
  line-height: .5em;
}
  
/*-------------------------------------------*/

/* apply for canvases narrower than 1200px---*/
@media only screen and (max-width: 1199px) {


}

/*-------------------------------------------*/

/* apply for canvases narrower than 768px---*/
@media only screen and (max-width: 767px) {

}

/*-------------------------------------------*/

/* iPhone, Android devices-------------------*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

}

/*-------------------------------------------*/
