/* events elements---------------------------*/ 
.documents {
    border-bottom: 1px solid var(--gray-500);
}

.docs-header {
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
    line-height: 2.5em;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 2em;
    padding: 1em 1em .5em;
}

.files {
    font-family:'Montserrat', sans-serif;
    margin-bottom: 2em;
    line-height: 1em;
    padding: 0 1em .5em;
  }
  
  .file-name {
    font-weight: 700;
    font-size: 1em;
    margin-top: 2em;
  }
  
  .file-descript {
    font-size: .8em;
    font-weight: 300;
  }
  
  .pdf {
    font-size: .75em;
    font-weight: 300;
  }
    
  /*-------------------------------------------*/