/*  
    Bootstrap Screen Sizes
    xs (for phones - screens less than 768px wide)
    sm (for tablets - screens equal to or greater than 768px wide)
    md (for small laptops - screens equal to or greater than 992px wide)
    lg (for laptops and desktops - screens equal to or greater than 1200px wide)
/*

/* variables---------------------------------*/

:root {
  /* background colors */
  --background-dark: #F9F9F9;
  --background-light: white;

  /* border color */
  --border-color: #D5D5D5;

  /* shadow color */
  --shadow-color: #D5D5D5;

  /* primary color */
  --primary-color-dark: #2F3A56;
  --primary-color-light: #406D96;

  /* secondary color */
  --secondary-color: #E2474B;

  /* text colors */
  --text-light: white;
  --text-dark:  #2F3A56;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*-------------------------------------------*/

/* structural elements-----------------------*/

.container-fluid {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

body {
  font-family:'Montserrat', sans-serif;
  letter-spacing: .03em;
  font-size: 16px;
  background-color: var(--background-dark); 
  z-index: 0;
}

.row {
  margin: 0;
  padding: 0;
}

.nav {
  position: -webkit-sticky; /* Safari */
  position: fixed;
  top: 0;
  left: 0;
  
  width: 18em;
  height: 100vh;
  background-color: var(--primary-color-dark);
  border-right: 1px solid var(--border-color); 
  z-index: 1000;
  padding: 2em;
}

/*-------------------------------------------*/

/* header elements---------------------------*/

.logo-horizontal {
  display: none;
}

.logo-vertical {
  width: 6em;
  margin: 1em 2.25em;
}
/*-------------------------------------------*/

/* navigation elements-----------------------*/

ul.nav-list, ul.desktop-nav {
  list-style-type: none;
}

li, .nav-item {
  color: var(--text-light);
  text-align: right;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: .09em;
  line-height: 3em;
  cursor: pointer;
}

li:hover, .nav-item:hover {
  text-decoration: none;
  color: var(--primary-color-light);
}

.nav-open, .nav-close {
  display: none;
}

/*-------------------------------------------*/

/* page content------------------------------*/

.content {
  margin: 2em;
  margin-left: 20em;
  padding: 1em 2em;
  background-color: var(--background-light);
  border: 1px solid var(--background-light);
  border-radius: .25em;
  box-shadow: 0 0 .15em 0 var(--shadow-color);
  max-width: 600px;
}

.content-header {
  color: var(--border-color);
  text-align: center;
  font-size: .75em;
  font-weight: 800;
  letter-spacing: .09em;
  line-height: 3em;
}

/*-------------------------------------------*/

/* popup elements----------------------------*/

.transparent-background {
  position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
    z-index:1500;
    width:100%;
    height:100%;
}

.popup {
  width: 80%;
  min-height: 200px;
  max-width: 500px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 3em;
  /* translate value for transform is based off the size of the element to position div exactly center */
  transform: translate(-50%);
  background-color: var(--background-light);
  border: 1px solid var(--background-light);
  padding: 1em 2em 3em;
  z-index: 2000;
}

.clear {
  float: right;
  font-family: 'Material Icons', serif;
  font-style: normal;
  font-size: 1.25em;
  color: var(--text-dark);
  cursor: pointer;
}

.clear:hover {
  color: var(--secondary-color);
}

.exit-popup {
  width: 100%;
  height: 4em;
}

/*-------------------------------------------*/

/* apply for canvases narrower than 1200px---*/
@media only screen and (max-width: 1199px) {


}

/*-------------------------------------------*/

/* apply for canvases narrower than 992px---*/
@media only screen and (max-width: 991px) {
  .nav {
    width: 100%;
    height: 3em;
    border-right: none;
    border-bottom: 1px solid var(--border-color); 
  }

  .desktop-nav {
    display: none;
  }

  .logo-vertical {
    display: none;
  }

  .logo-horizontal {
    display: block;
    width: 8em;
    margin: 0;
    padding: 0;
    position: absolute;
    top: .5em;
  }

  .page-content {
    margin-top: 6em;
  }

  .content {
    margin-left: 2em;
  }

  .nav-open, .nav-close {
    font-family: 'Material Icons', serif;
    font-size: 2em;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    cursor: pointer;
    display: block;
  }


  li, .nav-item {
    color: var(--text-dark);
  }
  
  .nav-item:hover {
    color: var(--text-dark);
  }

  .nav-open {
    position: fixed;
    top: .25em;
    right: 1.5em;
    color: var(--text-light);
  }

  .nav-close {
    padding-bottom: 1em;
    color: var(--text-dark);
  }

  .nav-list {
    width: 40%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    padding: .5em 3em;
    background: var(--background-light);
    border-left: 1px solid var(--border-color); 
    -webkit-animation-name: nav; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 1s; /* Safari 4.0 - 8.0 */
    animation-name: nav;
    animation-duration: 2s;
    animation-delay: -1s;
  }

  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes nav {
    0%   {right:0em;}
    50%  {right:-100%;}
    100% {right:0em;}
  }
  
  /* Standard syntax */
  @keyframes nav {
    0%   {right:0em;}
    50%  {right:-100%;}
    100% {right:0em;}
  }

  li {
    text-align: left;
  }
}

/*-------------------------------------------*/

/* apply for canvases narrower than 768px---*/
@media only screen and (max-width: 767px) {
  .nav-list {
    width: 100%;
  }

  .page-content {
    margin-top: 5em;
  }

  .content {
    margin: 1em;
    padding: 1em 1em;
  }
}

/*-------------------------------------------*/

/* iPhone, Android devices-------------------*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  
}

/*-------------------------------------------*/